html,body{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(21, 17, 17);
    
    
}
.navegador{
    display: flex;
    width: 30%;
    justify-content: space-between;  
}

ul,li,a{
    list-style: none;
    text-decoration: none;
}
button{
    height: 30px;
}
.bannerFoto{
    width: 96.3vw;
    height: 100vh;
}
/*MAIN*/
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
   
}
.linea{
    color: black;
    width: 70px;
}
.fotosconSeparadas{
    display: flex;
    justify-content: space-around;
}

